$color-white: #fff;
$color-grey: #c3cfe2;
$color-black: rgb(53, 53, 53);
$color-purple:#686de0;

main{
    background-color: $color-grey;
    display: flex;
    margin-left: 40px;
    height: 1180px;
    width: 1000px;
}

.card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 1120px;
    width: 880px;
    margin: 30px auto;
    border-radius: 45px;
    box-shadow: 0px 8px 20px $color-black;

    &__header{
        background-color: $color-white;
        height: 69%;
    }

    &__text{
        color: $color-black;
        font-weight: 500;
        font-size: 46px;
        line-height: 70px;
        padding: 70px 80px;
    }

    &__img{
        position: absolute;
        width: 27%;
        top: 69%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid $color-white 12px;
        border-radius: 50%;        
    }

    &__about{
        background-color: $color-purple;
        height: 31%;
    }   
    &__name{
        font-size: 46px;
        color: $color-white;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        margin: 160px 0 10px;
    }
    &__website{
        display: block;
        font-size: 40px;
        color:  $color-grey;
        text-decoration: none;
        text-align: center;
    }
}